name: FastAPI Docker CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Image
        run: docker build -t fastapi-cicd .

      - name: Tag Image
        run: docker tag fastapi-cicd vinaynmcci0121/fastapi-cicd:latest

      - name: Push Image
        run: docker push vinaynmcci0121/fastapi-cicd:latest
